/* CSS RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Pre-set per impostazione mobile-first */

body {
    width: 512px;
    margin: 0 auto;
    color: white;
}

.font-sigmar {
    font-family: "Sigmar", sans-serif;
}

.font-dm {
    font-family: "DM Sans", sans-serif;
}

.main {
    background: #191D7B;
}

.header {
    margin: 0;
}

.banner {
    display: block;
    height: 20%;
    max-width: 100%;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.sezione-main {
    margin: 0 20%;
    position: relative;
    top: 80px;
}

.titolo-main {
    line-height: 32px;
}

.up {
    text-transform: uppercase;
}

button {
    appearance: none;
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    border: transparent;
    border-radius: 15px;
    font-size: medium;
}

.browser-button {
    background: #5865F2;
    color: white;
}

button:hover {
    transform: scale(1.05);
    transition: 0.15s;
}

button:active {
    transform: scale(1);
    transition: 0.15s;
}

.browser-button:active {
    background: #58a2f2;
}

.testo-main {
    margin: 12px 0;
}
